<div class="listControls">
	<div class="addQuestionButton listCtrlBtn"><i class="fa fa-plus"></i> Question</div>
</div>
<div class="quizTitleContainer">
	<h1>
		<textarea class="titleTxt input" maxlength="255" name="" placeholder="" rows="1" style="overflow: hidden; word-wrap: break-word; resize: none; height: 42px;">{{=it.Quiz.title}}</textarea>
	</h1>
</div>
{{? it.Quiz.Questions}}
	{{~it.Quiz.Questions :value:index}}
		<div class="question">
			<h2>
				<textarea class="titleTxt input" maxlength="255" name="" placeholder="" rows="1" style="overflow: hidden; word-wrap: break-word; resize: none; height: 34px;">
					{{=index+1+". "+value.label}}
				</textarea>
			</h2>
			<div class="props">
				<div class="proposition">
					<h3>
						<textarea class="choices input" name="" style="overflow: hidden; word-wrap: break-word; resize: none; height: 148px;">
							{{=value.propositions.replace(/,/g , "\n")}}
						</textarea>
					</h3>
				</div>
			</div>
		</div>
	{{~}}
{{?}}