<div class="topControls">
	<div class="backToThemesButton"><i class="fa fa-chevron-left"></i> Themes</div>
</div>
<div class="editorFrame box">
	<div class="titleBar">
		<div class="titleLabel">{{=it.Theme.label}}</div>
		<div class="controls">
			<div class="addQuiz smallBtn"><i class="fa fa-plus"></i> New Quiz</div>
		</div>
	</div>
	<div class="quizListPanel">
		<div class="listControls">
			<div class="removeSelectedQuiz listCtrlBtn disabled"><i class="fa fa-trash-o"></i> Delete Quiz</div>
			<div class="addQuestionButton listCtrlBtn disabled"><i class="fa fa-plus"></i> Add Question</div>
		</div>
	{{~it.Quizzes :value:index}}
		{{? value }}
			<div class='quizListItem'>
				<div class="quiz">
					<div class="quizLink" data-quiz-id="{{=value.Quiz.id}}">{{=value.Quiz.title}}</div>
					<div class="questionNB">{{=value.Quiz.Questions.length}} {{=(value.Quiz.Questions.length === 1 ? "Question" : "Questions")}}</div>
				</div>
			</div>
		{{?}}
	{{~}}
	</div>
	<div class="editSection"></div>
</div>